{% extends "base.html" %}

{% block page_header %}
<li class="breadcrumb-item"><a>{{ t }}</a></li>
{% endblock %}
{% block page_body %}
<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.account.label }}
        {{ form.account }}
        {% for message in form.errors.account %}
        <span class="is_invalid text-danger">{{ message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password }}
        {% for message in form.errors.password %}
        <span class="is_invalid text-danger">{{ message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.submit(class='btn btn-primary') }}
        <a href="{{url_for('view_account.sign_up')}}"  type="button" class="btn btn-warning">注册</a>
    </div>
</form>
{% endblock %}