{% extends "base.html" %}

{% block page_header %}
<li class="breadcrumb-item"><a>{{ t }}</a></li>
{% endblock %}
{% block page_body %}
<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.account.label }}
        {{ form.account }}
        {% for message in form.errors.account %}
        <span class="is_invalid text-danger">{{ message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password }}
        {% for message in form.errors.password %}
        <span class="is_invalid text-danger">{{ message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.real_name.label }}
        {{ form.real_name }}
        {% for message in form.errors.real_name %}
        <span class="is_invalid text-danger">{{ message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.id_number.label }}
        {{ form.id_number }}
        {% for message in form.errors.id_number %}
        <span class="is_invalid text-danger">{{ message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.cellphone.label }}
        {{ form.cellphone }}
        {% for message in form.errors.cellphone %}
        <span class="is_invalid text-danger">{{ message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email }}
        {% for message in form.errors.email %}
        <span class="is_invalid text-danger">{{ message }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>
{% endblock %}