{% extends "base.html" %}

{% block page_header %}
<li class="breadcrumb-item"><a>{{ t }}</a></li>
{% endblock %}
{% block page_body %}
<h1>防沉迷</h1>
按照版署《网络游戏未成年人防沉迷系统》要求<br />
未满18岁的用户和身份信息不完整的用户将受到防沉迷系统的限制，游戏沉迷时间超过3小时收益减半，超过5小时收益为0。<br />
已满18岁的用户将等待公安机关的身份验证，验证通过的用户将不受限制，不通过的用户需要重新修改身份信息，否则将纳入防沉迷系统管理。<br />
注明:身份信息的添加将在一个小时后生效<br />
填写身份信息将使我们可以对您的年龄做出判断，以确定您的游戏时间是否需要按照国家新闻出版总署的要求纳入防沉迷系统的管理。<br />
您在本页面填写的身份信息资料只对多玩游戏旗下产品有效，除这些产品以外的用户请根据游戏中的引导到指定页面填写身份信息。<br />
填写防沉迷资料后快速更新防沉迷状态方法：退出游戏，并关闭页面。重新进入游戏官网,如果仍为登陆状态，退出并重新登陆，然后再进入游戏。
{% endblock %}