{% extends "base.html" %}

{% block page_header %}
<li class="breadcrumb-item"><a>{{ t }}</a></li>
{% endblock %}
{% block page_body %}
<div class="row">
    <div class="col-sm-12">
        <a href="{{ url_for('view_game.jdqs') }}">
            <img src="/static/app/jdqs_show.png" class="img-fluid rounded">
        </a>

    </div>
    <!-- 
    <div class="col-sm-6">
        <img src="/static/app/magic_invert_show.png" class="img-fluid rounded" alt="Responsive image">
        <br>
        <br>
        <img src="/static/app/flick_bird_show.png" class="img-fluid rounded" alt="Responsive image">
        <br>
        <br>
        <img src="/static/app/girls_foosball_show.png" class="img-fluid rounded" alt="Responsive image">
    </div>
    <div class="col-sm-6">
        <img src="/static/app/jdqs_show.png" class="img-fluid rounded" alt="Responsive image">
        <br>
        <br>
        <img src="/static/app/back_to_back_show.png" class="img-fluid rounded" alt="Responsive image">
        <br>
        <br>
        <img src="/static/app/walking_alien_show.png" class="img-fluid rounded" alt="Responsive image">
    </div>
    -->

</div>
{% endblock %}