{% extends "base.html" %}

{% block page_header %}
<li class="breadcrumb-item"><a>{{ t }}</a></li>
{% endblock %}
{% block page_body %}
<h1>狐之空通行证用户协议</h1>
1．概述 <br />
本协议是用户与北京狐之空科技有限公司（以下简称为狐之空）间的法律协议。 <br />
&ldquo;用户&rdquo;是指愿意接受或实际上已经接受提供的产品和/或服务的个人。 <br />
此份协议是用户接受产品和服务时适用的通用条款。本用户协议的效力范围及于的一切产品和服务，用户在享受的任何单项服务时，均受本用户协议的约束。因此，请您在注册成为的用户前或接受狐之空的产品和/或服务之前，详细地阅读本用户协议的所有内容。
<br />
用户知悉并同意：只要用户点击&ldquo;同意&rdquo;/&ldquo;接受&rdquo;按钮并完成注册或实际使用狐之空的产品或服务，就表示用户已充分阅读、理解并同意接受本用户协议及狐之空公布的各项服务规则并愿意受其约束。如果发生纠纷，用户不得以未仔细阅读为由进行抗辩。
<br />
用户知悉并同意：随着经营情况的变化，狐之空有权随时更改本用户协议及相关服务规则。修改本用户协议时，狐之空将于相关页面公告修改的事实，有权不对用户进行个别通知。用户应该在每次使用狐之空产品或服务前查询相关公告，以了解本用户协议及/或其他服务规则的变化。若用户不同意本用户协议或相关服务规则，或者不同意狐之空作出的修改，用户可以主动停止使用狐之空提供的产品和服务，如果在狐之空修改协议或服务规则后，用户仍继续使用狐之空提供的产品和服务，即表示用户同意狐之空对本用户协议及相关服务规则所做的所有修改。由于用户在用户协议变更后因未熟悉公告规定而引起的损失，狐之空将不会承担任何责任。
<br />
2．知识产权和所有权声明 <br />
狐之空提供的与产品和服务有关的全部信息、资料、技术（包括相关的软件）的著作权、专利权、商标、商业秘密、其他知识产权、所有权或其他权利，均为狐之空或其权利人所有，除非事先获得狐之空或其权利人的合法授权，用户不得对任何该信息、资料、软件、产品和服务进行修改、拷贝、散布、传送、展示、执行、复制、发行、授权、制作衍生著作、移转或销售。如用户未遵守本条款的上述规定，在不损害其他权利的情况下，狐之空可立即终止向用户提供产品和服务，用户必须销毁任何已经获得的上述信息、资料、软件或产品。狐之空拥有用户在使用狐之空软件过程中或用户在
接受狐之空的服务过程中所产生的任何数据信息（包括但不限于账号资料、游戏数据及系统衍生数据等）的所有权。用户仅有权依据用户协议及有关游戏规则使用上述数据和信息。 <br />
狐之空产品和服务中的各种虚拟物品数据，包括但不限于游戏币、道具、装备等，是狐之空所提供的服务的一部分，其所有权归属狐之空。用户只能在合乎法律规定和游戏规则的情况下使用，且可通过游戏行为和充值行为获准使用部分虚拟物品。本协议所称玩家对&ldquo;虚拟物品的交换/转让&rdquo;均指虚拟物品使用权的交换/转让，玩家无权交换/转让虚拟物品的所有权。
<br />
3．资费政策 <br />
狐之空在提供产品和服务时，可能会对部分产品和服务向用户收取一定的费用。在此情况下，狐之空会在相关页面上做明确的提示。如用户拒绝支付该等费用，则不能使用相关的产品和服务。 <br />
对于狐之空的收费产品和服务，用户可自主选择接受或拒绝该收费产品或服务，并保证在使用收费产品或服务时， 将按照狐之空的相关收费规定支付费用，如拒付或拖欠费用，狐之空将有权停止该产品或服务，并依法追偿损失及赔偿。 <br />
狐之空将有权决定并随时修改所提供的产品和服务的资费标准和收费方式（包括免费到收费的修改），狐之空可能会就不同的产品和服务制定不同的资费标准和收费方式，也可能按照所提供的产品和服务的不同阶段确定不同的资费标准和收费方式；另外，狐之空也可能不时地修改资费政策。狐之空会将有关产品和服务的资费标准、收费方式、购买方式或其他有关资费政策的信息放置在该产品和服务相关网页的显著位置。
<br />
为了保障用户的合法权益以及完整地使用狐之空的产品和服务的权利，建议用户到狐之空指定的分销商处购买相关产品和服务。 <br />
4．账号和密码 <br />
用户承诺以其真实身份注册狐之空通行证，并保证所提供的个人身份资料信息真实、完整、有效，依据法律规定和本协议约定对所提供的信息承担相应的法律责任。用户以其真实身份注册狐之空通行证后，需要修改所提供的个人身份资料信息的，狐之空应当及时、有效地为其提供该项服务。
<br />
狐之空有权审查用户注册所提供的身份信息是否真实、有效，并应积极地采取技术与管理等合理措施保障用户账号的安全、有效；用户有义务妥善保管其账号及密码，并正确、安全地使用其账号及密码。任何一方未尽上述义务导致账号密码遗失、账号被盗等情形而给用户和他人的民事权利造成损害的，应当承担由此产生的法律责任。
<br />
用户申请注册成功后，狐之空有权根据狐之空各产品商业运营情况分配给用户狐之空通行证账号。用户了解并同意：账号一旦设定，就不可再为变更；而密码则可以在狐之空的网页上进行变更。
用户对登录后所持账号产生的行为依法享有权利和承担责任，使用该账号的人即被视为用户本人，其做出的任何行为也将视为用户的行为，用户应当为此账号使用者的一切行为负责。 <br />
用户了解并同意：每注册一个狐之空通行证账号，即一次合同缔约行为，成就一份独立的服务合同。但狐之空有权就同一用户名下的不同账号进行单独或整体的管理。 <br />
用户在注册时应提供完整、详尽、真实的个人资料，若所提供的资料日后有变更，用户应及时登录账号进行更新。若用户在狐之空留下的个人资料与事实不符，狐之空可以停止向其继续提供产品和服务。当用户向狐之空主张其拥有某账号时，若该账号在狐之空的身份信息记录与用户的身份信息有任何不符，狐之空有权不予认定该账号为该用户所有。
<br />
用户知悉并同意：在没有经过狐之空允许并登记的情况下，用户不得将账号及密码泄漏或提供给他人知悉，也不得
将账号出借或转让给他人使用。如因用户自身过错或用户计算机感染病毒或木马，而导致账号或密码泄漏的，用户应自行承担由此造成的损失。狐之空员工（包括但不限于狐之空的网站和论坛管理人员、客服人员等）不会以任何方式询问用户的密码，所以用户不应对任何人泄漏用户的密码，不要多人共享同一个账号，不要安装非法或来路不明的程序。如果用户遗失了密码，狐之空针对处理此问题之服务保留索取额外费用的权利。
<br />
若用户发现账号或密码被他人非法使用或有异常使用的情形，应立即根据狐之空公布的处理方式通知狐之空，并有权通知狐之空暂停该账号的登录和使用，但用户在申请时应提供与其注册身份信息相一致的个人有效身份信息。狐之空核实用户所提供的个人有效身份信息与所注册的身份信息相一致的，应当及时采取措施暂停用户账号的登录和使用。狐之空违反上述约定，未及时采取措施暂停用户账号的登录和使用，因此而给用户造成损失的，应当承担其相应的法律责任。用户没有提供其个人有效身份证件或者用户提供的个人有效身份证件与所注册的身份信息不一致的，狐之空有权拒绝用
户上述请求。 <br />
狐之空会向用户提供一定的免费或收费的保护账号密码的辅助工具，但用户了解并同意：这些工具只能在一定程度上提高账号和密码的安全，狐之空并不担保用户在使用此类辅助工具后就能保障账号密码的绝对安全。 <br />
用户已经了解并同意，狐之空在服务器数据出现异常（包括程序Bug导致的数据异常）时，可以将该服务器的数据还原到一定时点，对此狐之空将不承担任何责任。 <br />
5．用户的权利 <br />
用户可以根据本用户协议以及狐之空公布的其他规则来接受狐之空提供的产品和服务。 <br />
用户有权在接受狐之空提供的产品和服务的期间监督狐之空及狐之空的工作人员是否按照狐之空所公布的标准向用户提供产品和服务，也可以随时向狐之空提出与狐之空的产品和服务有关意见和建议。 <br />
用户在拥有合法的账号下，可以在狐之空的服务器上传使用服务所必需的信息，但信息中不得含有如下内容：<br />
（1）侵犯任何第三者的知识产权，版权或公众/私人权利；<br />
（2）违反任何法律或善良风俗；<br />
（3）包含任何毁谤他人，性骚扰，种族歧视，或对未成年人有不良影响的内容；<br />
（4）包含病毒、木马程序、定时炸弹等可能对狐之空或任何人的计算机系统造成伤害或影响其稳定性的内容。<br />
（5）含有法律、行政法规禁止的其他内容的。<br />
用户特此授权狐之空免费使用用户上传的任何内容。 <br />
如果用户不同意本用户协议或对狐之空作的修改有异议，或对狐之空所提供产品和服务不满意，用户可以随时停止使用狐之空的产品和服务。如果用户选择停止使用狐之空的产品和服务，则狐之空不再对用户承担任何义务和责任。 <br />
6．用户的义务 <br />
用户需自行配备注册和使用网络所需的各项计算机及网络设备，并自行负担上网所需的各项费用。 <br />
狐之空向用户提供的产品和服务本身属于商业行为，用户需要支付相应的费用。 <br />
用户有义务妥善保管使用狐之空通行证的账号、密码、邮箱及其他与狐之空通行证有关的身份信息和证件。用户对登录后所持账号产生的行为依法享有权利和承担责任，使用该账号的人即被视为用户本人，其做出的任何行为也将视为用户的行为，用户应当为此账号使用者的一切行为负责。
<br />
用户了解并同意：狐之空有权根据服务的重要性不同，制定不同的安全级别策略，并要求用户提供相应级别的身份验证信息及资料，包括但不限于：账号、密码、邮箱、身份证件复印件、原件、户籍证明等。当某项服务的申请者按狐之空既定的方式通过身份验证后，狐之空即可视其为该账号用户并依其申请提供服务，由此产生的一切后果由拥有该账号的用户自行承担。
<br />
用户同意遵守狐之空网站、狐之空和客服中心(FAQ)各项条款，用户应每周查看狐之空官方网站公布的各项条款，包括但不限于GM服务政策、外挂处理流程、盗号处理流程等规范，该各项规范也是本合约的有效组成，与本合约具有同等效力。
<br />
用户在使用狐之空产品和接受狐之空服务的过程中，应当遵循以下原则：<br>
（1）遵守中华人民共和国有关的法律和法规；<br />
（2）不得为任何非法目的而使用服务系统；<br />
（3）遵守所有与服务有关的网络协议、规定和程序；<br />
（4）不得对包括但不仅限于狐之空的网站及提供的软件进行修改，还原工程(Reverse Engineering)，译码(Decompile)，反向组译(Disassemble)、复制(copy)或散布(distribute)；<br />
（5）不得采取任何可能影响狐之空的网络服务的非正常使用行为（包括但不限于损害、攻击服务器或使服务器过度负荷等）；<br />
（6）不得通过第三方软件或在第三方软件的辅助下使用狐之空的产品或接受狐之空的服务；不得采取任何破坏游戏规则和违反游戏公平性的行为；<br />
（7）未经狐之空书面许可，不得使用狐之空任何知识产权，来创造或提供相同或类似的网络服务，如仿真服务器、私人服务器等；<br />
（8）不得利用狐之空产品和网络服务系统进行任何可能对互联网的正常运转造成不利影响或可能干扰他人以正常方式使用狐之空所提供的产品和网络服务的行为；<br />
（9）不得利用狐之空网络服务系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的、欺诈性的或其他任何非法的信息资料；<br />
（10）不得利用狐之空服务系统进行其他不利于狐之空的行为；<br />
（11）不得使用从非由狐之空指定的渠道所获得的资料或信息；<br />
（12）就狐之空及合作商业伙伴的服务、产品、业务咨询应采取狐之空指定的客户服务渠道和其他专门沟通渠道，不得在公众场合发布有关狐之空及其相关服务的负面宣传；<br />
（13）如发现任何非法使用用户账号或账号出现安全漏洞的情况，应立即通告狐之空；<br />
（14）用户只能通过狐之空游戏内置的交换途径和经狐之空官方认证的第三方交易平台进行虚拟物品数据使用权（包括但不限于、虚拟道具和装备等）的交换或转让。未经狐之空允许不得将狐之空旗下的游戏中的游戏账号、角色人物、、虚拟装备等数据与现实货币或者实物进行兑换；<br />
（15）当用户账户涉嫌盗号、外挂等非法和违规行为时，用户应配合狐之空员工的工作，据实回答游戏管理人员提出的与使用狐之空产品相关的问题，以维护自己和其他用户在游戏中的合法权益；<br />
（16）不得以违反游戏使用规则等非正常方式获得游戏中的虚拟物品（包括但不限于、虚拟道具和装备）；<br />
（17）不得利用狐之空所提供的产品和服务在现实中获得盈利；<br />
（18）不得利用狐之空的服务或产品发送或传播敏感信息和违反国家法律制度的信息，包括但不限于：<br />
(a)反对宪法所确定的基本原则的；<br />
(b)危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的； <br />
(c)损害国家荣誉和利益的； <br />
(d)煽动民族仇恨、民族歧视，破坏民族团结的； <br />
(e)破坏国家宗教政策，宣扬邪教和封建迷信的； <br />
(f)散布谣言，扰乱社会秩序，破坏社会稳定的； <br />
(g)散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的； <br />
(h)侮辱或者诽谤他人，侵害他人合法权益的； <br />
(i)含有法律、行政法规禁止的其他内容的。 <br />
7．取消账号和终止、中止（即有期限停止）服务 <br />
用户有如下任何一种或多种行为的，狐之空有权随时取消该用户账号或终止或中止对该用户的全部或部分服务（包括但不限于封停该用户名下全部或部分账号和禁止有关角色登录），并且有权随时取消或收回用户在游戏内通过违规行为获取的任何利益：<br>
（1）有违反本协议的行为；<br />
（2）滥用所享有的权利；<br />
（3）提供虚假注册信息（包括但不限于身份信息和联系方式）；<br />
（4）有违反狐之空发布的其他服务规则的行为或通过不正当手段使用狐之空服务的；<br />
（5）有损狐之空及其权利人、关联企业或合作对象的权益和其他用户合法权益的行为（包括但不限于垄断游戏场景、不合理的阻止其他用户正常获取游戏中利益等任何可能破坏游戏的公平性或平衡性的行为）；<br />
（6）有违反中国的法律、法规禁止性规定（包括但不限于发布违法信息）的行为；<br />
（7）有违背社会善良风俗和社会公德的行为；<br />
（8）有其他违反狐之空相关规定的行为；<br />
（9）除上述情况外，用户在接受狐之空服务时实施了其他不正当行为的；<br />
其中：若狐之空根据上述第（1）项和第（3）项情形做出中止对用户提供全部或部分服务的决定，则应告知用户中止期间，中止期间应该是合理的，中止期间届满狐之空应当及时恢复对用户的服务。但中止期间届满时，用户的违约状态仍然存在的，狐之空有权延长中止服务的期间。
<br />
上述第（9）项规定中，用户实施的不正当行为仅指在本协议中有明确约定或属于狐之空事先明确告知的禁止性行为，否则，狐之空不得根据第（10）种情况的规定做出终止对用户的服务的决定。 <br />
狐之空依据上述第（1）、（3）、（6）、（7）、（9）项规定中止或终止对用户服务时，狐之空应负初步举证责任。 <br />
同一用户注册的账号中有一个账号或多个账号出现违反本协议约定的行为，狐之空有权根据实际情况，提前60天进行通知。 <br />
8．网络服务中断 <br />
如遇设备保养、维护等情况需要中断服务器，必须提前60天公示。 <br />
9．终止网络服务 <br />
狐之空需提前60天公示后，方可终止网络服务。 <br />
10．测试服务器和体验服务器 <br />
测试服务器（测试服）是指狐之空在其公布的测试阶段（包括但不限于封测、内测和公测）中向用户提供产品和服务的服务器。 <br />
体验服务器（体验服）是指狐之空在某些游戏中推出的测试最新版本游戏系统及游戏内容的稳定性的服务器，用户可以在体验服务器中体验最新的产品和服务内容。 <br />
在测试服以及体验服内的一切资料，将不在服务保管的范围内。用户一旦登录了测试服或体验服，接受了测试服或体验服的游戏服务，即表示您自愿接受以下条款：<br>
（1）测试服或体验服提供的服务内容为非正式版本，可能会有与正式服务内容不同，可能存在程序不稳定或数据丢失的情况。<br />
（2）狐之空将不定期的对测试服或体验服进行维护，并根据需要对测试服和体验服的数据进行全部或部分的删除（包括但不限于您账户内的角色、经验值、道具及任何相关的记录和信息），或进行合法使用。<br />
（3）考虑到测试服和体验服的不稳定情况，狐之空有权不对登录测试服和体验服的用户提供游戏官方网站上公布的各项客户服务。<br />
（4）狐之空不会对任何人因为登录测试服或体验服、接受测试服或体验服提供的服务产生的任何损失承担任何责任。<br />
11．隐私保护 <br />
用户知悉并同意，为便于向用户提供更好的服务，狐之空将在用户自愿选择服务或者提供信息的情况下收集用户的个人信息，并将这些信息进行整合。在用户使用狐之空服务时，服务器会自动记录一些信息，包括但不限于URL、IP地址、浏览器类型、使用语言、访问日期和时间等。为方便用户登录或使用狐之空的服务，狐之空在有需要时将使用cookies等技术，并将收集到的信息发送到对应的服务器。用户可以选择接受或者拒绝cookies。如用户选择拒绝cookies，则用户有可能无法登陆或使用依赖于cookies的服务或者功能。狐之空收集的信息将成为狐之空常规商业档案的一部分，且有可能因为转让、合并、收购、重组等原因而被转移到狐之空的继任公司或者指定的一方。狐之空同意善意使用收集的信息，且采取各项措施保证信息安全。
<br />
保护用户的隐私是狐之空的一项基本政策。狐之空不会公开或透露用户的注册资料及保存在狐之空各项服务中的非公开内容，除非狐之空在诚信的基础上认为透露这些信息在以下几种情况是必要的：<br>
（1）遵守有关法律规定，包括在国家有关机关查询时，提供用户的注册信息、用户在狐之空发布的信息内容及其发布时间、互联网地址或者域名。<br />
（2）保持维护狐之空的知识产权和其他重要权利。<br />
（3）在紧急情况下竭力维护用户个人和社会大众的隐私安全。<br />
（4）根据本条款相关规定或者狐之空认为必要的其他情况下。<br />
狐之空可能会与第三方合作向用户提供相关的服务，如该第三方为合法经营的公司且提供同等的用户隐私保护（如电信运营商、支付渠道供应商、虚拟物品交易商、媒体等），狐之空有权将用户的注册资料等提供给该第三方。 <br />
适用于用户的隐私管理规则以狐之空官方网站公布的隐私政策为准。 <br />
12．违约责任 <br />
用户同意保障和维护狐之空及其他用户的利益，如因用户违反有关法律、法规或本用户协议项下的任何条款而给狐之空或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。 <br />
用户同意补偿狐之空的母公司、子公司、关系企业、受雇人、及一切相关人员，因用户违反相关法律法规或本用户协议所产生之一切损害及责任。 <br />
13．法律管辖 <br />
本产品和服务相关规范的解释及适用，以及用户因使用狐之空产品和服务而与狐之空之间所产生的权利义务关系，应适用中华人民共和国法律（不含涉外民事法律适用法或其他类似法规）。与本协议有关的一切争议，包括但不限于因本协议的签订或履行产生的争议、在本协议履行过程中产生的争议以及因本协议下产品和服务所产生的争议，均应以狐之空网络科技有限公司所在地法院为第一审管辖法院。此外，如果本用户协议的任何内容与法律相抵触，应以法律规定为准，同时狐之空将重新解释或修改相关的条款，而本用户协议的其他部分将保持对用户的法律效力。
<br />
14．送达和通知 <br />
本用户协议项下所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。 <br />
15．其他规定 <br />
如本用户协议中的任何内容无论因何种原因完全或部分无效或不具有执行力，本用户协议的其余内容仍应有效并且对协议各方有约束力。 <br />
本用户协议中的标题仅为方便而设，不具法律或契约效果。

{% endblock %}