<div class="row">
    <div class="col-sm-6">
        <a href="{{ url_for('app_view.girls_foosball') }}">
            <img src="{{ url_for("static", filename="app/girls_foosball/girls_foosball_0.png") }}" class="img-responsive img-rounded" alt="Responsive image">
        </a>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
        <h3>Girls Foosball</h3>
        {% include 'app/girls_foosball/girls_foosball_text.html' %}
        <h3>COMING SOON!</h3>
    </div>
</div>