<div class="col-sm-4">
    <a href="https://play.google.com/store/apps/details?id=com.vianigame.flipball">
        <img src="{{ url_for("static", filename="website/app_store.png") }}" class="img-responsive img-rounded" alt="Responsive image">
    </a>
</div>
<div class="col-sm-4">
    <a href="https://itunes.apple.com/cn/app/id1179441761">
        <img src="{{ url_for("static", filename="website/google_play.png") }}" class="img-responsive img-rounded" alt="Responsive image">
    </a>
</div>
<div class="col-sm-4">
    <a href="https://www.taptap.com/app/42017">
        <img src="{{ url_for("static", filename="website/taptap.png") }}" class="img-responsive img-rounded" alt="Responsive image">
    </a>
</div>