@font-face {font-family: 'webfont';
  src: url('//at.alicdn.com/t/webfont_7qwefeaewos.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_7qwefeaewos.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_7qwefeaewos.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_7qwefeaewos.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_7qwefeaewos.svg#思源黑体-粗') format('svg'); /* iOS 4.1- */
}

* {
  text-align: justify;
  text-justify: inter-ideograph;
}