{% extends "base.html" %}

{% block page_left_head %}
<span class="glyphicon glyphicon-home"></span>
<a href="/">SKYFOX</a>
<span class="glyphicon glyphicon-chevron-right"></span>
<a href="#">{{ title }}</a>
{% endblock %}

{% block page_left_body %}
<h2>{{ title }}</h2>
<hr>
<a href="{{ url_for('admin_view.add_app') }}">新建APP</a>
<hr>
<div id="apps">
    <table class="table table-hover table-bordered">
        <tr>
            <td>序号</td>
            <td>中文名</td>
            <td>操作</td>
        </tr>
        {% for app in apps %}
        <tr>
            <td>{{ app.id }}</td>
            <td>{{ app.ename }}</td>
            <td>
                <a href="{{ url_for('admin_view.edit_app', app_id=app.id) }}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
                <a href="{{ url_for('admin_view.delete_app', app_id=app.id) }}"><span class="glyphicon glyphicon-trash"></span>删除</a>                  
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}