{% extends "base.html" %}

{% block page_header %}
<li class="breadcrumb-item active">
    <a href="{{ url_for('view_app.index') }}">产品展示</a>
</li>
{% endblock %}

{% block page_body %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                产品列表
            </div>
            <ul class="list-group list-group-flush">
                {% for app in apps %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ app.icon_url }}" class="img-fluid img-rounded img-thumbnail" alt="Responsive image">
                        </div>
                        <div class="col-md-8">
                            这里放名字
                            <br>
                            <span class="badge badge-primary">Unity</span>
                            <span class="badge badge-primary">Cocos</span>
                            <span class="badge badge-primary">2018.6.7</span>
                            <span class="badge badge-primary">即将上线</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                主打产品
            </div>
            <div class="card-body">
                这里放上主打产品的介绍
            </div>
        </div>
    </div>
</div>
{% endblock %}