{% extends "bootstrap.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#">北京狐之空科技有限公司</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_index.index') }}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_app.index') }}">产品展示</a>
                </li>
                <li class="nav-item my-2 my-sm-0">
                    <a class="nav-link" href="{{ url_for('view_index.contact_us') }}">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div id="page" class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">狐之空</a>
                    </li>
                    {% block page_header %}
                    {% endblock %}
                </ol>
            </nav>
            {% block page_body %}
            {% endblock %}
            {% block page_footer %}
            {% endblock %}
        </div>
    </div>
<div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}