<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>狐之空科技</title>

    <!-- JQuery -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
    <!-- 注意这里加载的script有前后依赖顺序，有一些库依赖jquery，需要把jquery放在前面 -->

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.14.3/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Zico图标 -->
    <link rel="stylesheet" href="//code.z01.com/v4/dist/css/zico.min.css">

    <!-- logo -->
    <link rel="shortcut icon" href="/static/website/logo_block.png">

    <!-- 字体css -->
    <link href="/static/font.css" rel="stylesheet">
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-light bg-light navbar-expand-lg sticky-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/static/website/logo_block.png" width="50" height="50" class="d-inline-block align-top" alt="">
                狐之空科技
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('view_index.index') }}">首页</a>
                    <a class="nav-item nav-link" href="{{ url_for('view_index.game_center') }}">游戏中心</a>
                    <a class="nav-item nav-link" href="{{ url_for('view_index.user_agreement') }}">用户协议</a>
                    <a class="nav-item nav-link" href="{{ url_for('view_index.anti_addiction') }}">防沉迷</a>
                    <a class="nav-item nav-link" href="{{ url_for('view_index.parental_controls') }}">家长监护</a>
                    <a class="nav-item nav-link" href="{{ url_for('view_index.dispute_handling') }}">纠纷处理</a>
                    <a class="nav-item nav-link" href="{{ url_for('view_index.customer_service_center') }}">客服中心</a>
                    <a class="nav-item nav-link" href="{{ url_for('view_index.contact_us') }}">联系我们</a>
                    {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('view_account.sign_out') }}">登出</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('view_account.sign_in') }}">登录</a>
                    <a class="nav-item nav-link" href="{{ url_for('view_account.sign_up') }}">注册</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <br>
    {% endblock %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div id="page" class="col-sm-12">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">狐之空</a>
                        </li>
                        {% block page_header %}
                        {% endblock %}
                    </ol>
                </nav>
                {% block page_body %}
                {% endblock %}
                {% block page_footer %}
                {% endblock %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>

</html>