{% extends "base.html" %}

{% block page_left_head %}
<span class="glyphicon glyphicon-home"></span>
<a href="/">SKYFOX</a>
<span class="glyphicon glyphicon-chevron-right"></span>
<a href="#">{{ title }}</a>
{% endblock %}

{% block page_left_body %}
<h2>{{ title }}</h2>
<hr>
<div>
    <form method='POST' enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group">
                        {{ form.projectcode.label(class="input-group-addon") }}
                        {{ form.projectcode(type="text",class="form-control",placeholder="此项请必填") }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        {{ form.sequence.label(class="input-group-addon") }}
                        {{ form.sequence(type="text",class="form-control",placeholder="请填入数字；0为最高级") }}
                    </div>
                </div>
            </div>
        </div>
        {{ form.icon }}
        {% for error in form.icon.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.show }}
        {% for error in form.show.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        {{ form.ename.label(class="input-group-addon") }}
                        {{ form.ename(type="text",class="form-control") }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        {{ form.cname.label(class="input-group-addon") }}
                        {{ form.cname(type="text",class="form-control") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        {{ form.dappstore.label(class="input-group-addon") }}
                        {{ form.dappstore(type="text",class="form-control",placeholder="如果还没有上线，这里为空即可以，下同") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        {{ form.dgoogle.label(class="input-group-addon") }}
                        {{ form.dgoogle(type="text",class="form-control") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        {{ form.dtaptap.label(class="input-group-addon") }}
                        {{ form.dtaptap(type="text",class="form-control") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">编辑文字介绍</span>
                        <span class="input-group-addon">中文</span>
                    </div>
                    <br>
                    {{ form.ctext(rows=10,class="form-control") }}
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">编辑文字介绍</span>
                        <span class="input-group-addon">英文</span>
                    </div>
                    <br>
                    {{ form.etext(rows=10,class="form-control") }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    {{ form.submit(class="form-control btn btn-success") }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
