{% extends "base.html" %}

{% block page_header %}
<li class="breadcrumb-item active">
    <a href="#">编辑产品信息</a>
</li>
{% endblock %}

{% block page_body %}
<h2>{{ title }}</h2>
<form method='POST' enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <!-- project_code,sequence,online_date -->
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.project_code.label(class="input-group-text") }}
                    </div>
                    {{ form.project_code(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.sequence.label(class="input-group-text") }}
                    </div>
                    {{ form.sequence(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.online_date.label(class="input-group-text") }}
                    </div>
                    {{ form.online_date(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
        </div>
    </div>
    <!-- cname,ename -->
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.cname.label(class="input-group-text") }}
                    </div>
                    {{ form.cname(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.ename.label(class="input-group-text") }}
                    </div>
                    {{ form.ename(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
        </div>
    </div>
    <!-- ctext,etext -->
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.ctext.label(class="input-group-text") }}
                    </div>
                    {{ form.ctext(rows="10",type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.etext.label(class="input-group-text") }}
                    </div>
                    {{ form.etext(rows="10",type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
        </div>
    </div>
    <!-- get url -->
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.get_ios.label(class="input-group-text") }}
                    </div>
                    {{ form.get_ios(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.get_andriod.label(class="input-group-text") }}
                    </div>
                    {{ form.get_andriod(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.get_tap.label(class="input-group-text") }}
                    </div>
                    {{ form.get_tap(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.get_html.label(class="input-group-text") }}
                    </div>
                    {{ form.get_html(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form.get_wx.label(class="input-group-text") }}
                    </div>
                    {{ form.get_wx(type="text",class="form-control",placeholder="此项请必填") }}
                </div>
            </div>
        </div>
    </div>
    <!-- submit -->
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                {{ form.submit(class="form-control btn btn-success sticky-top") }}
            </div>
        </div>
    </div>
</form>
{% endblock %}
