<p>This is a new Block puzzle game!</p>
<p>This is a new Big Chanllenge for you!</p>
<p>"Magic Invert" is a cartoon style exciting invert puzzle game.</p>
<p>Easy to play, and pleasurable game for all ages.</p>
<p>To find the key circle and just invert circles's color in its direction and make all same color in a specified number of steps!</p>
<p>HOW TO PLAY</p>
<p>- Tap the circle and invert other circle's color by its direction.</p>
<p>- Try to fit them all the same color in limited steps.</p>
<p>- Don't worry! No time limits! And no need for wifi :)</p>